@font-face {
  font-family: titillium;
  font-style: normal;
  font-weight: 400;
  src: url("./TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: titillium;
  font-style: normal;
  font-weight: 700;
  src: url("./TitilliumWeb-Bold.ttf");
}
@font-face {
    font-family: titillium;
    font-style:italic;
    font-weight: 400;
    src: url("./TitilliumWeb-Italic.ttf");
}
@font-face {
    font-family: titillium;
    font-style:italic;
    font-weight: 700;
    src: url("./TitilliumWeb-BoldItalic.ttf");
}
